html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    min-width: 1200px;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    vertical-align: middle;
    width: fit-content;
    padding-top: 19px;
    padding-bottom: 18px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #fb565a;
    border: none;
    border-radius: 3px;
}

.button:hover,
.button:focus {
    background-color: #e74246;
    outline: none;
}

.button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.link-active {
  color: #000000;

  border-bottom: 2px solid #fb565a;
}

.main-header {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 71px;
    padding-bottom: 108px;

    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: #000000;

    background-color: #eeeeee;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 1160px;
    margin: 0;
    padding: 0;
    padding-top: 50px;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation-wrapper {
    justify-content: flex-start;
    flex-wrap: wrap;
    min-width: 41.5%;
}

.site-list-item,
.shopping-cart {
    width: fit-content;
    height: 100%;
}

.site-list-item:not(:last-child) {
  padding-right: 45px;
}

.site-list-item:nth-child(2) {
  padding-right: 49px;
}

.site-list-link,
.cart-link {
    display: flex;
    align-items: center;
    max-width: 120px;
    padding-top: 10px;
    padding-bottom: 3px;

    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;

    background-color: transparent;
}

.cart-link::before {
    content: '';

    display: block;
    width: 15px;
    height: 15px;
    margin-top: -2px;
    margin-right: 26px;

    background-image: url('../img/icon-cart.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-list-link:hover,
.cart-link:hover,
.site-list-link:focus,
.cart-link:focus {
    color: #fb565a;
    border-bottom: 2px solid transparent;
}

.site-list-link:active,
.cart-link:active {
    color: #a6a6a6;
    opacity: 0.3;

}

.slider {
  position: relative;
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.slider-controls {
    position: absolute;
    left: 50.4%;
    bottom: 96px;
    z-index: 100;

    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls label {
    position: relative;

    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 18px;
    margin-right: 17px;

    background-color: #ffffff;
    border-radius: 50%;

    cursor: pointer;

}

.slider-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.slider-item {
    display: none;
    padding: 70px 0;
    padding-bottom: 78px;
}

.slider-item:nth-child(1) {
      background-image: url('../img/slider_1.png');
      background-repeat: no-repeat;
      background-position: 93.5% 11px;
}

.slider-item:nth-child(2) {
      background-image: url('../img/slider_2.png');
      background-repeat: no-repeat;
      background-position: 100% 0;
}

.slider-item:nth-child(3) {
      background-image: url('../img/slider_3.png');
      background-repeat: no-repeat;
      background-position: 100% 20px;
}

.first-slider-button:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

.second-slider-button:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

.third-slider-button:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

.first-slider-button:checked ~ .slider-controls .slider-controls-item-1::before,
.second-slider-button:checked ~ .slider-controls .slider-controls-item-2::before,
.third-slider-button:checked ~ .slider-controls .slider-controls-item-3::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 8px;
    height: 8px;
    margin: 5px;
    z-index: 2;

    background-color: transparent;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
    box-shadow: none;
}

.slider-item h3 {
    max-width: 515px;
    margin: 0;
    padding: 0;
    padding-bottom: 26px;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

.slider-item:last-of-type h3 {
    padding-left: 2px;
}

.slider-item p {
    display: block;
    max-width: 420px;
    margin: 0;
    padding: 0;
    padding-bottom: 42px;

    line-height: 24px;
}

.slider-item-button {
    width: 240px;
    padding-left: 53px;
    padding-top: 17px;
    padding-bottom: 15px;

    font-weight: 400;
}

.service {
    margin-bottom: 74px;
    padding-bottom: 50px;
}

.services {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    list-style: none;
}

.service-item:not(:last-child) {
    padding-right: 100px;
}

.service-item:last-child {
    padding-right: 60px;
}

.service-item h3 {
    margin: 0;
    margin-top: 22px;
    margin-left: -1px;

    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.service-item p {
    max-width: 280px;
    padding-bottom: 16px;
    margin-right: 1px;

}

.service-button {
    width: 160px;
    padding: 0 40px;
    padding-top: 17px;
    padding-bottom: 15px;
}

.service-button-web-sites {
    background-color: #fb565a;
}

.service-button-applications {
    background-color: #00ca74;
}

.service-button-applications:hover,
.service-button-applications:focus {
    background-color: #00bc6c;
}

.service-button-applications:active {
    background-color: #00aa62;
}

.service-button-presentations {
    background-color: #efc84a;
}

.service-button-presentations:hover,
.service-button-presentations:focus {
    background-color: #eab534;
}

.service-button-presentations:active {
    background-color: #e5a722;
}

.about-us {
    display: flex;
    width: 1200px;
    margin-top: 40px;
    justify-content: space-between;
    position: relative;

    padding-bottom: 49px;
}

.services-wrapper {
    display: flex;
    flex-direction: column;
    width: 660px;
}

.services-wrapper p:nth-child(1) {
    display: block;
    max-width: 660px;
    margin: 0;
    padding: 0;
    padding-top: 32px;
    padding-bottom: 16px;

    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.services-wrapper p:nth-child(2) {
    display: block;
    max-width: 660px;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    padding-top: 17px;
}

.services-wrapper p:nth-child(3) {
    max-width: 660px;
    padding: 0;
    text-transform: uppercase;
}

.service-list {
    padding: 0;
    margin: 0;
}

.service-list-item {
    position: relative;

    margin: 0;
    padding: 0;
    padding-top: 9px;
    padding-bottom: 15px;
    padding-left: 36px;
}

.service-list-item::before {
    content: '';

    position: absolute;
    top: 42%;
    left: 0.1%;

    width: 25px;
    height: 2px;

    background-color: #fb565a;
}

.statistics {
    display: flex;
    flex-direction: column;
    width: 365px;
}

.statistics p {
    padding-left: 21px;
    padding-top: 17px;
    padding-bottom: 28px;
    text-transform: uppercase;
}

.table {
    width: 100%;
}

.table-trace-percent {
    font-weight: 700;
    font-size: 45px;
    line-height: 10px;
    color: #000000;
}

.table-trace-description {
    line-height: 18px;
}

.table-cell {
    position: relative;

    display: inline-block;
    vertical-align: top;
    width: 110px;
    min-height: 35px;
    margin-bottom: 21px;
    padding-left: 12px;

    text-align: left;
    letter-spacing: 0.05px;
}

.table-cell-number {
    display: inline-block;
    vertical-align: middle;
    margin-top: 11px;
}

.table-cell:first-child {
    padding-left: 3px;
}

.table-cell:last-child {
    padding-left: 21px;
}

.table-cell-percent {
    position: absolute;
    top: 25%;
    right: 16%;

    display: inline-block;
    vertical-align: sub;
    margin-left: -12px;

    font-weight: 700;
    font-size: 28px;
}

.table-cell-percent-dedication {
    right: 9%;
}

.table-cell-percent-time {
    right: 1%;
}

.clients-section {
    margin-bottom: 80px;
    padding-top: 46px;
    padding-bottom: 44px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

    list-style: none;
}

.clients-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 298px;
    height: 100%;
}

.clients-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;

    opacity: 0.2;
}

.clients-item:first-child .clients-link {
    justify-content: flex-start;
    padding-top: 16px;
    padding-left: 32px;
}

.clients-item:nth-child(2) .clients-link {
    justify-content: flex-start;
    padding-top: 8px;
    padding-left: 38px;
}

.clients-item:nth-child(3) .clients-link {
    justify-content: flex-start;
    padding-top: 5px;
    padding-left: 60px;
}

.clients-item:last-child .clients-link {
    justify-content: flex-start;
    padding-top: 14px;
    padding-left: 75px;
}

.clients-link:hover,
.clients-link:focus {
    opacity: 1;
}

.clients-link:active {
    opacity: 0.1;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.filters legend,
.catalog p:first-child {
    padding-bottom: 20px;

    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.form {
    display: flex;
    flex-direction: column;
    width: 260px;
}

.form-fieldset {
    position: relative;

    min-width: 44px;
    margin: 0;
    padding: 0;

    border: none;
}

.form-fieldset-price {
    padding-bottom: 60px;
}

.form-fieldset-features,
.form-fieldset-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    outline: none;
}

.form-fieldset-layout {
    padding-bottom: 49px;
}

.form-fieldset-features {
    padding-bottom: 47px;
}

.form-fieldset:first-child .form-legend {
    padding-top: 3px;
    padding-bottom: 54px;

    letter-spacing: 0.7px;
}

.range {
    position: relative;

    height: 80px;
    margin-bottom: 14px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #eeeeee;
    border-radius: 5px;
}

.range-scale {
    height: 2px;

    background: #d7dcde;
}

.range-select {
    width: 70%;
    height: 2px;

    background: #00ca74;
}

.range-toggle {
    position: absolute;
    top: 38%;
    left: 0;

    width: 20px;
    height: 20px;
    padding: 0;

    background-color: #ababab;
    border: 8px solid #ffffff;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;

    cursor: pointer;
}

.range-toggle:focus {
    outline: none;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.8);
}

.toggle-min {
    left: 7%;
}

.toggle-max {
    left: 62%;
}

.form-price-control {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.form-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.form-item {
    width: 100%;
    padding-left: 4px;
}

.form-fieldset-layout .form-item:not(:last-child),
.form-fieldset-features .form-item:not(:last-child) {
    margin-bottom: 16px;
}

.price-control-label {
    padding-right: 12px;

    line-height: 22px;
    text-transform: uppercase;
}

.service-properties-name {
    position: relative;

    line-height: 20px;
    color: #283136;
}

.price-control-input {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 38px;

    line-height: 22px;
    text-align: center;

    background-color: #eeeeee;
    border: none;
    border-radius: 5px;
    outline: none;
}

.price-control-input:not(:last-of-type) {
    margin-right: 32px;
}

.filter-by-layout,
.filter-by-feature {
    display: none;
    width: 30px;
    height: 30px;

    background-color: transparent;
    border: none;
    outline: none;
}

.filter-by-layout + .service-properties-name::before {
    content: '';

    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-top: -4px;
    margin-right: 6px;
    margin-left: 1px;

    background-color: transparent;
    border: 4px solid #4d4d4d;
    border-radius: 50%;
    opacity: 0.4;
}

.filter-by-feature + .service-properties-name::before {
    content: '';

    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    margin-top: -2px;
    margin-right: 8px;
    margin-left: 1px;

    border: 2px solid #000000;
    border-radius: 3px;
    opacity: 0.4;
}

.filter-by-layout:checked + .service-properties-name::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 9px;
    height: 9px;
    margin: 9px;
    margin-top: 5px;

    background-color: #4d4d4d;
    border-radius: 50%;
    outline: none;
    opacity: 0.4;
}

.filter-by-feature:checked + .service-properties-name::after {
    content: '';

    position: absolute;
    top: -8%;
    left: 1%;

    width: 27px;
    height: 23px;

    background-image: url('../img/checkbox-on.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    outline: none;
    opacity: 0.4;
}

.filter-by-layout:hover + .form-item,
.filter-by-layout:hover + .service-properties-name::before,
.filter-by-layout:hover + .service-properties-name::after,
.filter-by-feature:hover + .service-properties-name::before,
.filter-by-feature:hover + .service-properties-name::after {
    outline: none;
    opacity: 1;
}

.filter-by-layout:hover + .service-properties-name,
.filter-by-layout:focus .service-properties-name {
    color: #000000;
}

.form-item:focus,
.form-item:focus .service-properties-name::before,
.form-item:focus .service-properties-name::after {
    outline: none;
    opacity: 1;
}

.filter-by-layout:disabled + .service-properties-name,
.filter-by-feature:disabled + .service-properties-name {
    color: rgba(40, 49, 54, 0.3);
}

.filter-by-layout:disabled + .service-properties-name::before,
.filter-by-layout:disabled + .service-properties-name::after,
.filter-by-feature:disabled + .service-properties-name::before,
.filter-by-feature:disabled + .service-properties-name::after {
    opacity: 0.1;
}

.filter-by-feature:checked + .service-properties-name::before {
    opacity: 0;
}

.form-button,
.pagination-item-next {
    color: #000000;

    background-color: #eeeeee;
}

.form-button {
    width: 100%;
    padding-top: 17px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.form-button:hover,
.pagination-item-next:hover,
.form-button:focus,
.pagination-item-next:focus {
    background-color: #dfdfdf;
    outline: none;
}

.form-button:active,
.pagination-item-next:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #bfbfbf;
}

.sorting-catalog-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 36px;
}

.sorting-catalog-wrapper p {
    margin: 0;
    padding: 0;
    padding-right: 266px;
}

.sorting-method {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sorting-by-type {
    padding-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.pyramid-sorting {
    padding-bottom: 16px;
    position: relative;
    display: flex;
    margin-left: 40px;
}

.sorting-item {
    display: inline-block;
    vertical-align: middle;
}

.sorting-by-type .sorting-item:not(:last-child) {
    padding-right: 25px;
}

.pyramid-sorting .sorting-item:not(:last-child) {
    padding-right: 7px;
}

.sorting-button {
    max-width: 103px;
    padding: 0;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;

    background-color: transparent;
    border: none;
    opacity: 0.3;
}

.sorting-button:not(:last-of-type) {
    padding-right: 26px;
}

.sorting-button:hover,
.sorting-button:focus {
    outline: none;
    opacity: 0.6;
}

.sorting-button:active,
.sorting-button.link-active {
    border: none;
    opacity: 1;
}

.sorting-button-up,
.sorting-button-down {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 100%;

    background-color: transparent;
    border: none;
}

.sorting-button-up::before {
    content: '';

    position: absolute;
    top: 20%;
    left: 13%;

    display: block;
    width: 0;
    height: 0;

    border: 6px solid transparent;
    border-top: 10px solid rgba(166, 166, 166, 0.2);
}

.sorting-button-down::before {
    content: '';

    position: absolute;
    bottom: 55%;
    right: 5%;

    display: block;
    width: 0;
    height: 0;

    border: 6px solid transparent;
    border-bottom: 10px solid rgba(166, 166, 166, 0.2);
}

.sorting-button-up.link-active {
    border: none;
}

.sorting-button-down:focus,
.sorting-button-up:focus {
    outline: none;
}

.sorting-button-up:hover::before,
.sorting-button-up:focus::before {
    border-top: 10px solid #a6a6a6;
}

.sorting-button-down:hover::before,
.sorting-button-down:focus::before {
    border-bottom: 10px solid #a6a6a6;
}

.sorting-button-up:active::before,
.sorting-button-up .link-active::before {
    border-top: 10px solid #231f20;
    outline: none;
    opacity: 1;
}

.sorting-button-down:active::before {
    border-bottom: 10px solid #231f20;
}

.catalog {
    width: 760px;
    margin-bottom: 56px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.catalog-item {
    position: relative;
    width: 360px;
    border: 1px solid #e5e5e5;
    border-radius: 5px 5px 0 0;
    margin-bottom: 35px;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-item::before {
    content: '';

    display: block;
    width: 358px;
    height: 40px;

    background-image: url('../img/browser.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.12;
}

.catalog-item:hover,
.catalog-item:focus {
    outline: none;
    box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog-item:hover::before,
.catalog-item:focus::before {
    opacity: 1;
    border-radius: 5px 5px 0 0;
}

.catalog-item img {
    display: block;
}

.catalog-item-description {
    position: absolute;
    bottom: -0.8%;
    left: 0;

    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 230px;
    padding: 0 60px;
    padding-top: 28px;
    padding-bottom: 41px;

    background-color: #eeeeee;
    outline: none;
}

.catalog-item:first-child .catalog-item-description,
.catalog-item:nth-child(2) .catalog-item-description,
.catalog-item:last-child .catalog-item-description,
.catalog-item:nth-last-child(2) .catalog-item-description {
    bottom: 0;
}

.catalog-item-modal-window {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: -4px;
    padding-bottom: 15px;

    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-item-modal-window:focus {
    color: #fb565a;

    outline: none;
}

.catalog-item-modal-window:active {
    color: rgba(0, 0, 0, 0.3);
}

.item-description {
    display: inline-block;
    vertical-align: middle;
    max-width: 270px;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;

    line-height: 18px;
    text-align: center;
    color: #666666;
}

.catalog-item-button {
    display: flex;
    justify-content: center;
    min-width: 200px;
    padding-top: 17px;
    padding-bottom: 15px;
}

.catalog-item:hover .catalog-item-description,
.catalog-item:focus .catalog-item-description {
    display: flex;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    padding-top: 8px;
    margin-bottom: 3px;
}

.pagination-list .link-active {
    padding: 13px 17px;
    padding-bottom: 12px;

    background-color: transparent;
    border: 4px solid #dbdbdb;
    box-shadow: none;
}

.pagination-item {
    max-width: 260px;
    margin-right: 10px;
    padding: 0 21px;
    padding-top: 17px;
    padding-bottom: 15px;

    font-weight: 500;
    line-height: 18px;
    color: #000000;

    background-color: #eeeeee;
    border-radius: 5px;
}

.pagination-item:hover:not(.link-active),
.pagination-item:focus:not(.link-active) {
    background-color: #dfdfdf;
    outline: none;
}

.pagination-item:active:not(.link-active) {
    color: rgba(0, 0, 0, 0.3);

    background-color: #bfbfbf;
}

.pagination-item-next {
    max-width: 260px;
    padding: 0 78px;
    padding-top: 17px;
    padding-bottom: 16px;
}

/*footer*/

.footer-map {
  display: block;
  position: relative;
  min-height: 416px;
  overflow: hidden;
}

.map-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-20%);
  text-align: center;
}

.contacts {
    display: block;
  width: 320px;
  height: 308px;
  position: absolute;
  left: calc(50% - 580px);
  padding-left: 50px;
  padding-top: 48px;
  padding-bottom: 40px;
  top: 54px;
  background-color: #ffffff;
}

.contacts-name {
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 21px;
    text-transform: uppercase;
    color: #000000;
}

.contacts-adress,
.contacts-telephone-number {
    max-width: 210px;
    margin: 0;
    padding: 0;
    padding-bottom: 14px;

    line-height: 18px;
    letter-spacing: 0.04px;
    color: #666666;
}

.contacts-telephone-number {
    text-transform: none;
}

.contacts-button {
    width: 210px;
    margin-top: 31px;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 44px;
}

/*****/

.footer-social {
    width: 1160px;
    height: 220px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-contacts {
    width: 260px;
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin-right: 140px;
}

.social-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 18px;
}

.footer-social p:first-of-type {
    margin: 16px 0;
    margin-bottom: 10px;
    padding: 0;
    padding-bottom: 9px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.footer-social p:last-of-type {
    margin: 0;
    padding: 0;
    line-height: 18px;
}

.social-button {
    display: flex;
    width: 77px;
    height: 77px;
    background-color: #e1e1e1;
    border-radius: 50%;
    position: relative;
}

.social-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.social-button:hover,
.social-button:focus {
    background-color: #e74246;
}

.social-button:active {
    background-color: #d7373b;
}


/*modal-window*/

.modal-window {
    position: fixed;
    top: 460px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;

    display: none;
    width: 960px;
    height: 590px;
    margin: auto;
    padding: 0 100px;
    padding-top: 67px;

    background-color: #ffffff;
    box-shadow: 0 20px 40px 0px rgba(0, 1, 1, 0.75);
}

.modal-window h2 {
    margin: 0;
    margin-left: -2px;
    padding-bottom: 41px;

    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0.1px;
    color: #000000;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal {
    display: flex;
    flex-direction: column;

    padding-bottom: 34px;

    font-weight: 700;
    line-height: 18px;
    color: #000000;
}

.modal:last-of-type {
    padding-bottom: 6px;
}

.modal-text-message {
    width: 100%;
    padding-top: 11px;
    border: 2px solid #d7dcde;
    border-radius: 5px;
    outline: none;
}

.blabla {
      width: 760px;
}

.modal-input {
    width: 360px;

    margin-top: 9px;
    padding: 14px 0;
    padding-left: 13px;

    line-height: 18px;
    color: #a1a1a1;

    border: 2px solid #d7dcde;
    border-radius: 5px;
    outline: none;
}

.modal-submit-button {
    padding: 16px 82.5px;

    letter-spacing: 0.2px;
}

.modal-close-button {
    position: absolute;
    top: 10.6%;
    right: 7.5%;
    display: block;
    width: 30px;
    height: 30px;
    margin: 10px;
    color: transparent;
    background-color: transparent;
    border: none;
    opacity: 0.3;
}

.modal-close-button::before {
    content: '';
    position: absolute;
    top: 45%;
    right: 20%;

    display: block;
    width: 25px;
    height: 4px;

    background-color: #fb565a;
    background-image: url('../img/close-cross.svg');
    transform: rotate(45deg);
}

.modal-close-button::after {
    content: '';

    position: absolute;
    top: 45%;
    right: 20%;

    display: block;
    width: 25px;
    height: 4px;

    background-color: #fb565a;

    transform: rotate(-45deg);
}

.modal-input:hover {
    border-color: #b4b9bb;
}

.modal-input:focus {
    color: #000000;

    border-color: #000000;
}

.modal-close-button:hover,
.modal-close-button:focus {
    outline: none;
    opacity: 1;
}

.modal-close-button:active {
    opacity: 0.1;
}
